halberd
harvesters
google
hackrecon
dirbpy
python-masscan
sslscan
golismero
docker
havester
tld
fuzzywuzzy
dnspython
requests
argparse
dnspython
requests
retirejs
-e git+https://github.com/s0md3v/XSStrike
-e git+https://github.com/neuroo/grabber
-e git+https://github.com/joaomatosf/jexboss
-e git+https://github.com/Arachni/arachni
-e git+https://github.com/danielmiessler/SecLists
-e git+https://github.com/sullo/nikto
-e git+https://github.com/opsdisk/metagoofil
-e git+https://github.com/laramies/theHarvester
-e git+https://github.com/aboul3la/Sublist3r
-e git+https://github.com/RetireJS/retire.js
-e git+https://github.com/arthepsy/ssh-audit
-e git+https://github.com/darkoperator/dnsrecon